<% include ../partials/movieshead.ejs %>
<link type="text/css" href="/css/searchPage.css" rel="stylesheet">

<h1>Search Results</h1>

<% if(body.results.length != 0){ %>
    <% for (let i = 0; i < body.results.length; i++) { %>
        <% if(body.results[i].vote_average > minRating){ %>
             <% let date = body.results[i].release_date %>
             <% let year = date.slice(0,4) %>
             <h2><%= body.results[i].title %>(<%= year %>)</h2><br>

             User Score <%= body.results[i].vote_average %> <br>

             Overview: <%= body.results[i].overview %> <br>
        <div class="container">
            <img id="background" src="https://image.tmdb.org/t/p/w600/<%= body.results[i].backdrop_path %>">
            <div class="top"><h2><%= body.results[i].title %>(<%= year %>)</h2></div>
            <img id="poster" src="https://image.tmdb.org/t/p/w300/<%= body.results[i].poster_path %>">

        </div>
        <% } %>
    <% } %>
<% } else { %>
    <h2>No results matching your search</h2>
<% } %>
<% include ../partials/moviesfooter.ejs %>
