<!doctype html>
<html>
<head>
    <title>Search Results</title>

	<link type="text/css" href="/css/searchPage.css" rel="stylesheet">

    <%include ../partials/movieshead.ejs%>
    <%include ../partials/moviesfooter.ejs%>
</head>
<body>

<h1>Search Results</h1>



<% for (let i = 0; i <=5; i++) { -%>
	<%=body.results[i].title%> (<%=body.results[i].release_date%>)<br>

	User Score <%=body.results[i].vote_average%> <br>

	It was released on <br>

	Overview: <%=body.results[i].overview%> <br>

	<img id="poster" src="https://image.tmdb.org/t/p/w300/<%=body.results[i].poster_path%>">
	<img id="background" src="https://image.tmdb.org/t/p/w600/<%=body.results[i].backdrop_path%>">


	<br>
<% } %>





</body>
</html>
