<!DOCTYPE HTML>
<html>
<head>

    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <link type="text/css" href="/css/show.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <script src="https://use.fontawesome.com/d37a5741c5.js"></script>
</head>
<body>


<%include ../partials/movieshead.ejs%>


<link rel="stylesheet" href="/css/showPage.css">



<% let date = body.release_date %>
<% let year = date.slice(0,4) %>



<div class="container">
    <img id="poster" src="https://image.tmdb.org/t/p/w300/<%= body.poster_path %>">
    <img id="background" src="https://image.tmdb.org/t/p/w600/<%= body.backdrop_path %>">
    <div class="top">
        <h2><%= body.title %>(<%= year %>)</h2>
        <form action="/movies/<%= body.id%>" method="POST">
            <button id="submitPostRoute"><h6><i class="fa fa-heart" aria-hidden="true"></i> Add to list</h6></button>
        </form>

        <small> <%= body.tagline %> </small>


        <div class="rating">User Rating <i class="fa fa-star-o" aria-hidden="true"></i> <%= body.vote_average %></div>
        <h3>Overview</h3>
        <h4><%= body.overview %></h4>

        <!--<h6 id="star"><span class="showText">Review </span><i class="fa fa-star" aria-hidden="true"></i></h6>-->
    </div>
</div>

<h5>Genres:</h5>
<% for(let i=0; i < body.genres.length; i++){ %>
    <p><%= body.genres[i].name %></p>
<% } %>

<h5>Production Companies:</h5>
<% for(let i=0; i < body.production_companies.length; i++){ %>
   <p><%= body.production_companies[i].name %></p>
<% } %>

<h5>Production Countries:</h5>
<% for(let i=0; i < body.production_countries.length; i++){ %>
<p><%= body.production_countries[i].name %></p>
<% } %>





<%include ../partials/moviesfooter.ejs%>